<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Informativa</title>
</head>

<style>
    *{
        padding: 0; 
        margin: 0; 
        box-sizing: border-box;  
    } 
</style>

<body style="background-color: {{cor_de_fundo_html}};">

    <header style="background-color: rgb(69, 154, 140); display: flex;  ">
        <h1 style="margin-left: 10px;">Vovô Tartaruga</h1>
        <span style="margin-left: 950px; margin-right: 10px;">Home</span>
        <span></span>
    </header>

    <section class="caixa-geral" style="display: flex; flex-direction: row; margin: 20px;">
        <div class="textos">
            <p style="font-family: sans-serif;">Tartarugas são: {{adjetivos_aleatorios_html}}</p>
        </div>
        <div class="imagens">

        </div>
    </section>
</body>
</html>