<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>

<style>
    *{
        padding: 0; 
        margin: 0; 
        box-sizing: border-box;  
        font-family: sans-serif;
    } 
</style>

<body style="background-color: {{cor_de_fundo_html}};">

    <header style="background-color: rgb(69, 154, 140); display: flex; align-items: center; height: 80px;">
        <h1 style="margin-left: 10px; font-size: 40px; font-weight: 700;">Vovô Tartaruga</h1>
        <span style="margin-left: 1350px; margin-right: 10px; font-size: 20px; font-weight: 700;"> <a href="infos"> Infos </a></span>
    </header>

    <section class="caixa-geral" style="display: flex; flex-direction: row; margin: 20px;">
        
        <div class="caixa-texto" style="width: 700px;">
            <h1 class="titulo" style="font-family: sans-serif; margin-bottom: 10px;">Vovô Tartaruga🐢</h1>
            <p class="texto" style="font-family:sans-serif;">
                Bem-vindo ao Vovô Tartaruga! 🐢

                Este é o lugar onde as tartarugas ganham voz! Se você já se encantou por essas criaturas incríveis e 
                está curioso para descobrir mais sobre suas características únicas, você está no lugar certo. 
                Aqui, falamos sobre adjetivos que tornam as tartarugas tão especiais.
                No Vovô Tartaruga, exploramos como essas criaturas podem ser descritas de formas divertidas e surpreendentes. 
                Desde sua sabedoria e calma imortal até sua resiliência e determinação, 
                vamos revelar como essas qualidades fazem das tartarugas um símbolo de força e serenidade na natureza.
                Com um olhar atento aos detalhes, vamos te mostrar como os adjetivos ajudam a entender melhor o comportamento 
                e as características físicas dessas adoráveis criaturas, 
                além de trazer curiosidades que vão te deixar ainda mais apaixonado por elas.

                Prepare-se para uma jornada lenta, mas cheia de descobertas incríveis. 🐢✨</p>
        </div>

        <img src="/static/img/vovo-tartaruga.png" alt="vovo-tartaruga" style="width: 250px; height: 250px;">

    </section>
</body>
</html>